<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#标题栏小图标#}
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

</head>
<body>
<form action="login.html" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="请输入手机号" name="phone" /> <br/>
    <input type="text" placeholder="请输入图片验证码" name="msg1" /> <br/>
    <img src={{imgsrc}} alt="图片验证码" width="100" height=auto /> <br/>
    <input type="button" value="发送验证码"/> <br/>
    <input type="text" placeholder="请输入短信验证码" name="msg2"/> <br/>
    <input type="submit" value="登录" />
</form>
</body>
</html>